@import '../../../../../../styles/medias';
@import '../../../../../../styles/variables';

.collapsible {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  &__btn {
    background-color: $gray-02;
    color: $light-01;
    border: none;
    padding: 24px;
    font-size: inherit;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    transition: .3s;
    &:hover {
      background-color: $mid-gray;
    }
    @include sm-screen() {
      padding: 1.3vw 2vw;
      font-size: 1.5vw;
    }
    .icon {
      display: block;
      position: relative;
      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        right: .5vw;
        background-color: $light-01;
      }
      &__plus::after {
        mask: url('../../../../../../assets/icons/plus.svg') no-repeat 50% 50%;
        -webkit-mask: url('../../../../../../assets/icons/plus.svg') no-repeat 50% 50%;
        height: 18px;
        width: 18px;
        mask-size: 18px;
        -webkit-mask-size: 18px;
        @include sm-screen() {
          height: 2vw;
          width: 2vw;
          mask-size: 2vw;
          -webkit-mask-size: 2vw;
        }
      }
      &__close {
        @extend .icon__plus;
        &::after {
          transform: rotate(45deg);
        }
      }
    }
  }
  &__content {
    background-color: $gray-02;
    color: $light-01;
    text-align: left;
    overflow: hidden;
    margin-bottom: 8px;
    .content {
      line-height: 1.5rem;
      padding: 24px;
      @include sm-screen() {
        padding: 1.3vw 2vw;
      }
      @include md-screen() {
        line-height: 2.25rem;
      }
    }
  }
}
