@import '../../../../../styles/variables';

.faqs {
  width: 100%;
  background-color: $black_01;
  padding: 56px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  border-bottom: 8px solid $black-03;
  &__list {
    max-width: 70%;
    margin: 0 auto;
  }
  h1 {
    font-size: 48px;
  }
}
