@import '../../../../../styles/medias';
@import '../../../../../styles/variables';

.faqs {
  width: 100%;
  background-color: $black_01;
  padding: 56px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  border-bottom: 8px solid $black-03;
  box-sizing: border-box;
  text-align: center;
  @include sm-screen() {
    padding: 56px 0;
  }
  &__list {
    @include sm-screen() {
      margin: 0 auto;
      max-width: 70%;
    }
  }
  h1 {
    font-size: clamp(2rem, 2.5vw, 5rem);
  }
}
