@import './medias';
@import './variables';

button {
  cursor: pointer;
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: inherit;
  font-weight: 400;
  color: $black-02;
  cursor: pointer;
  @include sm-screen() {
    padding: 12px 24px;
    font-size: 24px;
  }
  &__small {
    padding: 6px 16px;
    @include sm-screen() {
      padding: 8px 16px;
      font-size: 16px;
    }
  }

  &__white {
    background: $light-01;
    &:hover {
      background-color: $light-02;
    }
  }

  &__red {
    background-color: $red;
    color: $light-01;
  }

  &__outline {
    background-color: transparent;
    color: $light-01;
    border: 1px solid $light-01;
    &-secondary {
      background-color: transparent;
      color: $light-01;
      border: 1px solid $gray;
    }
  }
}
