/* Fonts */
@font-face {
  font-family: 'Netflix-sans Regular';
  src: url('../assets/fonts/NetflixSans-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Netflix-sans Bold';
  src: url('../assets/fonts/NetflixSans-Bold.otf');
  font-weight: normal;
  font-style: normal;
}
