$light-01: rgba(255, 255, 255, 1);
$light-02: rgba(255, 255, 255, 0.75);
$light-03: rgba(255, 255, 255, 0.3);
$light-04: rgba(20, 20, 20, 0.7);

$smoke-white: rgba(229, 229, 229, 1);
$mid-gray: rgba(109, 109, 110, 0.7);
$gray: rgba(128, 128, 128, 1);
$gray-dark: rgba(26, 26, 26, 1);

$black: rgba(20, 20, 20, 1);
$black-02: rgba(35, 35, 35, 1);

$red: rgba(229, 9, 20, 1);
