<footer class="footer">
  <div class="footer__content">
    <p class="note">
      {{ module.questions }}
      <a [href]="module.phoneNumber.path">{{ module.phoneNumber.label }}</a>
    </p>

    <div class="footer__content__links">

      <ng-container *ngFor="let link of module.links">
        <a [routerLink]="[ link.path ]">{{ link.label }}</a>
      </ng-container>

    </div>

    <app-lang-selector [languages]="languages"></app-lang-selector>

    <p class="footer__content__mark">NetflixClone Colombia</p>
  </div>
</footer>
