<div class="media">
  <ng-container *ngIf="media">
    <img
      class="media__cover"
      [ngClass]="{'on-top' : moduleId === constants.features.tvFeature || moduleId === constants.features.multiDeviceFeature}"
      [src]="media.cover"
      alt="media-cover"
    >
  </ng-container>

  <ng-container *ngIf="media">
    <ng-container *ngIf="media.mediaUrl && moduleId !== constants.features.downloadFeature">
      <div
        class="media__container"
        [ngClass]="{ 'tv-feature' : moduleId === constants.features.tvFeature,
          'multi-device-feature' : moduleId === constants.features.multiDeviceFeature }"
      >
        <img class="media__container__content" [src]="media.mediaUrl" alt="">
      </div>
    </ng-container>

    <ng-container *ngIf="media.mediaIcon && moduleId === constants.features.downloadFeature">
      <div class="media__download">
        <img class="preview" src="../../../../../../assets/images/boxshot.svg" alt="boxshot">

        <div>
          <p class="title">{{ media.title }}</p>
          <p class="status">{{ media.status }}</p>
        </div>

        <img class="icon" [src]="media.mediaIcon" alt="">
      </div>
    </ng-container>
  </ng-container>
</div>
