<div class="media">
  <ng-container [ngSwitch]="moduleId">
    <img class="media__cover on-top" *ngSwitchCase="constants.features.tvFeature" src="../../../../../../assets/images/tv.svg" alt="">

    <img class="media__cover" *ngSwitchCase="constants.features.downloadFeature" src="../../../../../../assets/images/mobile.svg" alt="">

    <img class="media__cover on-top" *ngSwitchCase="constants.features.multiDeviceFeature" src="../../../../../assets/images/device-pile.svg" alt="">

    <img class="media__cover" *ngSwitchCase="constants.features.kidsFeature" src="../../../../../../assets/images/kids-img.svg" alt="">
  </ng-container>

  <ng-container *ngIf="media">
    <ng-container *ngIf="media.mediaUrl && moduleId !== constants.features.downloadFeature">
      <div
        class="media__container"
        [ngClass]="{ 'tv-feature' : moduleId === constants.features.tvFeature,
          'multi-device-feature' : moduleId === constants.features.multiDeviceFeature }"
      >
        <img class="media__container__content" [src]="media.mediaUrl" alt="">
      </div>
    </ng-container>

    <ng-container *ngIf="media.mediaIcon && moduleId === constants.features.downloadFeature">
      <div class="media__download">
        <img class="preview" src="../../../../../../assets/images/boxshot.svg" alt="boxshot">

        <div>
          <p class="title">{{ media.title }}</p>
          <p class="status">{{ media.status }}</p>
        </div>

        <img class="icon" [src]="media.mediaIcon" alt="">
      </div>
    </ng-container>
  </ng-container>
</div>
