@import '../../../../../../styles/medias';

.form {
  width: 100%;
  @include sm-screen() {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

.form__group {
  width: 100%;
  @include sm-screen() {
    width: 25vw;
  }
}

.form__input__wrapper {
  position: relative;
  margin-bottom: 1rem;
  @include sm-screen() {
    margin: 0;
  }
  .error-msg {
    left: 0;
    @include sm-screen() {
      position: absolute;
    }
  }
}

.description {
  margin-bottom: 2rem;
}

.btn {
  font-weight: 700;
}
