@import '../../../../../styles/variables';

.get-started {
  background-image:
    linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0.5) 100%),
    url('../../../../../assets/images/landing-background.svg');
  background-size: cover;
  height: 70vh;
  min-height: 700px;
  text-align: center;
  border-bottom: 8px solid $black-03;
  &::before {
    content: "";
    display: block;
    height: 35%;
  }

  h1 {
    font-size: 54px;
    max-width: 55vw;
    margin: 0 auto 2rem;
  }

  .note {
    margin: 0 auto 2rem;
    &__bg {
      font-size: 30px;
    }
    &__md {
      font-size: 23px;
    }
  }

  .row {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .form__group {
    width: 25vw;
  }

  .form__input__wrapper {
    position: relative;
    .error-msg {
      position: absolute;
      left: 0;
    }
  }
}
